<div id="<%= dom_id edificio %>" class="card" style="width: 18rem;">
  <div class="card-body">
    <!-- Nombre del edificio -->
    <h5 class="card-title"><strong>Nombre:</strong> <%= edificio.nombre %></h5>

    <!-- Datos del edificio -->
    <p class="card-text">
      <strong>Dirección:</strong> <%= edificio.direccion %><br>
      <strong>Comuna:</strong> <%= edificio.comuna_id %><br>
      <strong>Piscina:</strong> <%= edificio.piscina %><br>
      <strong>Quincho:</strong> <%= edificio.quincho %><br>
      <strong>Gimnasio:</strong> <%= edificio.gimnasio %><br>
      <strong>Áreas verdes:</strong> <%= edificio.areas_verdes %><br>
      <strong>Juegos infantiles:</strong> <%= edificio.juegos_infantiles %><br>
      <strong>Estacionamiento:</strong> <%= edificio.estacionamiento %><br>
      <strong>Pet friendly:</strong> <%= edificio.pet_friendly %>
    </p>
  </div>
</div>
