<div id="<%= dom_id edificio %>">
  <p>
    <strong>Nombre:</strong>
    <%= edificio.nombre %>
  </p>

  <p>
    <strong>Direccion:</strong>
    <%= edificio.direccion %>
  </p>

  <p>
    <strong>Comuna:</strong>
    <%= edificio.comuna_id %>
  </p>

  <p>
    <strong>Piscina:</strong>
    <%= edificio.piscina %>
  </p>

  <p>
    <strong>Quincho:</strong>
    <%= edificio.quincho %>
  </p>

  <p>
    <strong>Gimnasio:</strong>
    <%= edificio.gimnasio %>
  </p>

  <p>
    <strong>Areas verdes:</strong>
    <%= edificio.areas_verdes %>
  </p>

  <p>
    <strong>Juegos infantiles:</strong>
    <%= edificio.juegos_infantiles %>
  </p>

  <p>
    <strong>Estacionamiento:</strong>
    <%= edificio.estacionamiento %>
  </p>

  <p>
    <strong>Pet friendly:</strong>
    <%= edificio.pet_friendly %>
  </p>

</div>
