<div id="<%= dom_id departamento %>">
  <p>
    <strong>Numero:</strong>
    <%= departamento.numero %>
  </p>

  <p>
    <strong>Precio:</strong>
    <%= departamento.precio %>
  </p>

  <p>
    <strong>Habitaciones:</strong>
    <%= departamento.habitaciones %>
  </p>

  <p>
    <strong>Baños:</strong>
    <%= departamento.baños %>
  </p>

  <p>
    <strong>Estado:</strong>
    <%= departamento.estado %>
  </p>

  <p>
    <strong>Modalidad:</strong>
    <%= departamento.modalidad %>
  </p>

  <p>
    <strong>Edificio:</strong>
    <%= departamento.edificio_id %>
  </p>

</div>
