<%= form_with(model: [:admin, @departamento]) do |form| %>
  <% if @departamento.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@departamento.errors.count, "error") %> prohibited this departamento from being saved:</h2>

      <ul>
        <% @departamento.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :edificio_id %>
    <%= form.collection_select :edificio_id, @edificios, :id, :nombre, prompt: 'Seleccione un edificio' %>
  </div>

  <!-- ... otros campos ... -->

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
