<div class="card-body">
  <!-- Título de la tarjeta -->
  <h5 class="card-title">Número: <%= departamento.numero %></h5>
  
  <!-- Texto de la tarjeta -->
  <p class="card-text">
    Precio: <%= departamento.precio %><br>
    Habitaciones: <%= departamento.habitaciones %><br>
    Baños: <%= departamento.baños %><br>
    Estado: <%= departamento.estado %><br>
    Modalidad: <%= departamento.modalidad %><br>
  </p>
</div>
